NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://ab0783662_db_user:7KweSWYvsoPCCBe2@cluster0.bh5fe4h.mongodb.net/?appName=Cluster0
JWT_SECRET=tradingJournals
JWT_EXPIRES_IN=7d
# comma separated list of allowed origins
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=dmayw1see
CLOUDINARY_API_KEY=797537944827145
CLOUDINARY_API_SECRET=DuAuCRc6lZGZHa9bWSFGr2wYy5g
